$fontHOne: Vollkorn, serif;
$font: Roboto, sans-serif ;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	align-items: center;
	background-color: #fff;
	background: #fff url(../../assets/img/background.jpg) no-repeat fixed center;
	font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body * {
	box-sizing: border-box;
}

.is-hidden {
	display: none !important;
}

input,
button {
	color: #444;
}

input:focus,
button:focus {
	outline: none;
}

input[type=email]:invalid {
	border-color: red;
}

button {
	appearance: none;
	background: rgb(147,206,222);
	background: -moz-linear-gradient(top,  rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
	background: linear-gradient(to bottom,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
	border: 1px solid #666;
	border-radius: .25em;
	cursor: pointer;
	font-weight: 400;
	padding: .3em;
}

#bgvid {
	background: url(../../assets/img/background.jpg) no-repeat;
	background-size: cover;
	display: none;
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 50%;
	width: auto;
	z-index: -100;

	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.video-cover {
	background-color: #fff;
	height: 100%;
	left: 0;
	opacity: .25;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -99;
}

.content {
	background-color: rgba(255, 255, 255, .3);
	border-radius: .5em;
	padding: 2em;
	max-width: 90%;
}

h1, h3 {
	color: #333;
	font-family: $fontHOne;
	text-align: center;
}

h1 {
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;

	& > span:first-child {
		letter-spacing: .3em;
	}

	& > span:nth-child(2) {
		display: block;
		font-size: .7em;
	}
}

h1 span {
	opacity: 0;
}

h3 {
	align-items: center;
	display: flex;
	font-family: $font;
	font-weight: 300;
	opacity: 0;

	& > em {
		border-top: 1px solid rgba(0, 0, 0, .3);
		flex-grow: 1;
		height: 1px;
	}

	& > span {
		flex-grow: 0;
		letter-spacing: .2em;
		margin: 0 .5em;
	}
}

p {
	font-family: $font;
	font-weight: 300;
	color: #333;
}

.coming-soon {
	opacity: 0;
}

.signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2em;
}

.signup input,
.signup button {
	opacity: 0;
}

.signup-post {
	background: rgba(255, 255, 255, .3);
	border-radius: .5em;
	padding: .5em 1em;
}

input[type=email] {
	border-radius: .25em;
	font-size: 1.2em;
	margin-bottom: .5em;
	padding: .2em .5em;
	width: 100%;
}

button {
	font-size: 1em;
}

.social-icons {
	display: inline-flex;
	list-style: none;
	margin: 1em 0;
	padding: 0;

	> li {
		display: inline-block;
		height: 45px;
		margin: 0 .5em;
		width: 45px;

		a {
			background-color: rgba(255, 255, 255, .3);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60%;
			border: 2px solid rgba(255, 255, 255, 0);
			border-radius: 50%;
			display: block;
			height: 45px;
			overflow: hidden;
			text-indent: -2000em;
			width: 45px;
		}
	}
}

.social-icon-facebook > a {
	background-image: url(../../assets/img/social/facebook.png);
}
.social-icon-instagram > a {
	background-image: url(../../assets/img/social/instagram.png);
}
.social-icon-twitter > a {
	background-image: url(../../assets/img/social/twitter.png);
}
.social-icon-youtube > a {
	background-image: url(../../assets/img/social/youtube.png);
}
.social-icon-flickr > a {
	background-image: url(../../assets/img/social/flickr.png);
}